/* App.css */

.logo {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 4vh;
}

.head {
  background-color: rgb(233, 233, 233);
}

.headBottomMenu {
  display: flex;

  justify-content: space-between;
  background: white;
  overflow: hidden;
}

.menu-item {
  font-size: 2vh;
  cursor: pointer;
  color: #333;
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.75s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-item.visible {
  opacity: 1;
  transform: translateX(0);
}
.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu-item:nth-child(2) {
  transition-delay: 0.28s;
}
.menu-item:nth-child(3) {
  transition-delay: 0.46s;
}

.menu-item:hover {
  color: #080808;
  transform: translateY(-2px);
  transition: all 0.25s ease;
}

