/* App.css */

.logo {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 4vh;
}

.head {
  background-color: rgb(233, 233, 233);
}

.headBottomMenu {
  display: flex;

  justify-content: space-between;
  background: white;
  overflow: hidden;
}

.menu-item {
  font-size: 2vh;
  cursor: pointer;
  color: #333;
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.75s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-item.visible {
  opacity: 1;
  transform: translateX(0);
}
.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu-item:nth-child(2) {
  transition-delay: 0.28s;
}
.menu-item:nth-child(3) {
  transition-delay: 0.46s;
}

.menu-item:hover {
  color: #080808;
  transform: translateY(-2px);
  transition: all 0.25s ease;
}

@media (max-width: 768px) {
  .headBottomMenu {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .menu-item {
    font-size: 3vw; /* немного больше на маленьком экране */
    transform: translateX(0); /* убрать анимацию смещения X */
  }

  /* Ограничиваем блок смайлов */
  .menu-item:last-child {
    font-size: 2.5vw;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* покажет только часть смайлов */
  }
}

@media (max-width: 480px) {
  .menu-item {
    font-size: 4vw; /* текст чуть крупнее */
  }

  .menu-item:last-child {
    max-width: 90%; /* уменьшаем длину блока смайлов */
  }
}

main {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  font-size: 50vh;
}
